.result-container {
  padding: 20px 0px 0px 0px !important;
  border-radius: 20px;
  background: white;
  @include max-width(90%);
  column-gap: $space * 2;
  justify-content: start;
  margin-bottom: 10px;
  padding: $space * 2;
  @include shadow;
  & span {
    font-weight: $bolder;
  }
  @include respond-to(768px) {
    grid-template-areas: "image title title" "text text text" "button button button";
  }
}

.result-image {
  height: 130px;
  width: 180px;
  align-self: center;
  object-fit: contain;

  & img {
    height: 130px;
    width: 180px;
  }
  @include respond-to(768px) {
    height: 80px;
    width: 100px;
  }
}

.buyer {
  color: $buyer_color;
  margin-top: 2px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.provider {
  color: $provider_color;
  margin-top: 2px;
  margin-bottom: 2px;

  text-transform: uppercase;
}
.dual {
  color: $dual_color;
  margin-top: 2px;
  margin-bottom: 2px;

  text-transform: uppercase;
}

.bg_buyer {
  background: $buyer_color;
}





.info-image {
  padding-left: 28px;
}

.business-name {
  font-size: $h3 !important;
  padding: 0px;
  font-weight: $black;
}

.business-profile {
  font-size: 16px !important;
  font-weight: $bolder;
  padding: 0px;
  color: $provider_color;
  margin-bottom: 9px;
}

.fields {
  & .label-detail {
    font-weight: $medium;
    font-size: $h5;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  & .form-group {
    margin-bottom: 0.313rem;
  }
  & p {
    border: 1px solid $gray_light;
    border-radius: 13px;
    background: $gray_light;
    margin-bottom: 0px;
    & span, a, div {
      font-size: $h5;
      font-weight: $normal;
    }
  }
}

.mg-left {
  margin-left: 18px;
}

.pd-rg {
  padding-right: 20px !important;
}

.info-dates {
  padding: 0px;
  & div {
    margin-bottom: 0.5rem;
    font-size: 0.75em;
  }
  & p {
    margin-bottom: 0rem;
    & .green_HB {
      font-weight: bold;
      color: $buyer_color;
      font-size: 1.28em;
    }
  }
}

.info-datails {
  & p {
    margin-bottom: 0rem;
    font-size: $h5;
  }
}

.show_more {
  text-decoration: none !important;
  min-width: 100%;
  color: white;
  font-weight: $medium;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  height: 26px;
  font-size: $h5;
  padding-top: 2px !important;
}

.btn_sign_up_here {
  background-color: $buyer_color;
  border-radius: 18px;
  margin-bottom: 16px;
  & a {
    text-decoration: none;
    color: white;
    font-size: $h5;
    font-weight: $black;
  }
}

.btn-link:hover {
  color: white !important;
}

.truncate-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
