.Header {
	& .navbar {
		min-height: 75px;
		padding: 0;
	}
	background: $green-header;
	& .show {
		padding: $space * 3;
		margin: 0;
	}
	& .Header-container {
		// @include max-width(87%);
		& .nav-link {
			padding-right: 13px;
			color: $white-brand !important;
			font-size: 14px;
		}
		& .nav-link.active {
			font-family: $font-gotham-bold;
			.sr-only {
				position: inherit;
				width: 45%;
				height: 1px;
				background: $white-brand;
				left: 0;
				right: 0;
				margin: 0 auto;
				display: block;
			}
		}
		& .nav-link:hover {
			font-family: $font-gotham-bold;
		}
		& .downs {
			& .show {
				padding: 0;
			}
			& .dropdown:hover {
			}
			& .dropdown-menu {
				background: $white-brand;
				& .dropdown-item {
					color: #30e7a3 !important;
				}
				& .dropdown-item:hover {
					font-weight: $bolder;
					background: none;
				}
				& .dropdown-item.active {
					background: none;
				}
			}
		}
	}
}

.dropdown-toggle::after {
	content: none;
}

.Header-logo {
	justify-self: end;
	width: 130px;
	@include respond-to(1024px) {
		height: 40px;
	}
}

.Header-buttons {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: end;
}

.Header-button {
	&:hover {
		color: white;
		text-decoration: none;
	}
	@include respond-to(990px) {
		margin-bottom: $space;
	}
	@include button-rounder;
	padding: 7px 12px;
	background-color: $blue-brand;
	color: white;
	font-family: $font-gotham-bold;
	font-size: 12px;
	@include respond-to(480px) {
		padding: $space / 2;
		font-size: $p;
	}
}

.Header-button2 {
	&:hover {
		color: $blue-brand;
		text-decoration: none;
	}
	@include button-rounder;
	background: transparent;
	padding: 7px 12px;
	border: 1px solid $blue-brand;
	margin-left: 8px;
	font-size: 12px;
	color: $blue-brand;
	@include respond-to(480px) {
		padding: $space / 2;
		margin-left: $space / 2;
		font-size: $p;
	}
}

.titles {
	@include max-width(1000px);
	margin-top: $space * 3;
	margin-bottom: $space * 3;
	& p {
		font-size: $h1;
		margin: 0;
		color: $blue-brand;
		& span {
			font-weight: $bolder;
			font-size: 0.75em;
		}
	}
	@include respond-to(1024px) {
		@include max-width(90%);
		margin-top: $space * 2;
		margin-bottom: $space * 2;
		& p {
			font-size: $h2;
		}
	}
	@include respond-to(480px) {
		@include max-width(95%);
		margin-top: $space;
		margin-bottom: $space;
	}
}
