.container-results {
	@include max-width(1000px);
	margin-top: $space * 2;
	display: grid;
}

.one-row {
	@include grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	& p {
		font-size: $h5;
		color: #707570;
	}
}

.number-results {
	font-weight: $bolder;
}

.ver-todas {
	font-weight: $bolder;
	justify-self: end;
	cursor: pointer;
}

.results-container_result {
	height: 70vh;
	overflow: auto;
	& .infinite-scroll-component  {
		overflow-x: hidden !important;
	}
}

@media screen and (max-width: 1024px) {
	.container-results {
		@include max-width(90%);
	}
}

@media screen and (max-width: 768px) {
	.container-results {
		@include max-width(95%);
	}

	.one-row {
		font-size: 0.688rem;
	}
}

@media screen and (max-width: 480px) {
}
