.container-Searching {
  @include max-width(1000px);
  @include grid;
  grid-template-areas: "searching  searching searching searching searching2 searching2 button";
  gap: 10px;
}

.Searching {
  @include grid;
  grid-area: searching;
  grid-template-columns: 33px 1fr 2fr;
  gap: $space;
  border-bottom: 2px solid gray;
  & img {
    align-self: end;
  }
  & input {
    background: $white-brand;
    font-size: $h3;
    outline: 0;
    border: none;
    width: 304%;
    height: 43px;
    margin-top: 14px;
  }
}

.Searching-logo {
  height: 33px;
}

.Searchin-button {
  grid-area: button;
  padding-top: $space * 1.5;
  padding-bottom: $space * 2;
  padding-right: $space * 4;
  padding-left: $space * 4;
  border: 1px solid gray;
  border-radius: $space;
  background: $blue-brand;
  color: white;
  font-size: 0.875em;
  font-weight: $bolder;
  cursor: pointer;
  height: 80%;
  align-self: end;
}

@media screen and (max-width: 1024px) {
  .container-Searching {
    @include max-width(90%);
    grid-template-areas: "searching  searching searching searching button";
  }

  .Searching-logo {
    height: 25px;
  }
  .Searching {
    gap: 0;
    & input {
      font-size: $h5;
      height: 27px;
      width: 300%
    }
  }
  .Searchin-button {
    grid-area: button;
    padding-top: 6px;
    padding-bottom: $space;
    padding-right: $space;
    padding-left: $space;
    height: 76%;
  }
}
