@font-face {
  font-family: "gotham_light";
  font-weight: normal;
  src: url('../assests/fonts/GothamLight.otf') format('opentype');
}

@font-face {
  font-family: "gothambook";
  src: url('../assests/fonts/gotham_book_regular-webfont.woff2') format("woff2"), url('../assests/fonts/gotham_book_regular-webfont.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham_bold";
  src: url('../assests/fonts/Gotham-Bold.eot');
  src: url('../assests/fonts/Gotham-Bold.woff') format("woff"), url('../assests/fonts/Gotham-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}