//   ######   #######  ##        #######  ########   ######
//  ##    ## ##     ## ##       ##     ## ##     ## ##    ##
//  ##       ##     ## ##       ##     ## ##     ## ##
//  ##       ##     ## ##       ##     ## ########   ######
//  ##       ##     ## ##       ##     ## ##   ##         ##
//  ##    ## ##     ## ##       ##     ## ##    ##  ##    ##
//   ######   #######  ########  #######  ##     ##  ######

//Brand colors
$green-header: linear-gradient(to right, #23c782 0%, #23c782 1%, #23c782 26%, #61e97a 57%, #61e97a 100%);
$green-brand: #00e48f;
$blue-brand: #162b3c;
$white-brand: rgb(253, 253, 255);
//Action colors
$primary-action: #abe542;
$secondary-action: #8f97a2;
//Boolean colors
$positive: #15ff93;
$negative: #f04f8d;
//Bacgrounds
$background-blue: #233946;

//Basic colors
$white-normal: #f9f9f9;
$black-normal: #1c1d21;

$buyer_color: #00D664;
$dual_color: #8f7ee8;
$provider_color: #36aeea;
