//  ######## ##    ## ########   #######
//     ##     ##  ##  ##     ## ##     ##
//     ##      ####   ##     ## ##     ##
//     ##       ##    ########  ##     ##
//     ##       ##    ##        ##     ##
//     ##       ##    ##        ##     ##
//     ##       ##    ##         #######

// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");

$font: "Montserrat", sans-serif;

$font-gotham-light: "gotham_light";
$font-gotham-bold: "gotham_bold";
$font-gotham-book: "gothambook";

// typos
$h1: 2.5em;
$h2: 1.4em;
$h3: 1.25em;
$h4: 0.85em;
$h5: 0.875em;
$p: 0.81em;
$small: 0.62em;

// Typo Bolds
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;
