//  ######## ##    ## ########   #######
//     ##     ##  ##  ##     ## ##     ##
//     ##      ####   ##     ## ##     ##
//     ##       ##    ########  ##     ##
//     ##       ##    ##        ##     ##
//     ##       ##    ##        ##     ##
//     ##       ##    ##         #######

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

$font: 'Montserrat', sans-serif;

// typos
$h1: 3em;
$h2: 1.8em;
$h3: 1.25em;
$h4: 0.93em;
$p: 0.81em;
$small: 0.62em;

// Typo Bolds
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;
